In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
redata = pd.read_csv('censuspluszillowP2.csv')
redata.head()

,Unnamed: 0,Zipcode,Year,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Zip,City,State,CountyName,Average
0,0,2655,2012,3846,54.6,73323,50951,210,5.460218,2655.0,Barnstable,MA,Barnstable County,242.416667
1,1,2657,2012,2974,52.9,46031,45142,420,14.122394,2657.0,Provincetown,MA,Barnstable County,455.916667
2,2,2659,2012,741,61.0,51466,36133,42,5.668016,2659.0,Chatham,MA,Barnstable County,279.333333
3,3,2660,2012,5881,51.3,48617,28784,822,13.977215,2660.0,Dennis,MA,Barnstable County,201.083333
4,4,2664,2012,9562,50.3,49698,31998,929,9.715541,2664.0,Yarmouth,MA,Barnstable County,192.250000

In [3]:
#redata["Year"].unique()

In [4]:
redata2016=redata.loc[redata["Year"]==2016]

In [5]:
# read in dataset with 2016 to 2017 year over year percent growth
pctgrowth=pd.read_csv('PercentageGrowthByStateCity2.csv')

In [6]:
pctgrowth.head()

,RegionID,zipcode,City,State,Metro,CountyName,SizeRank,PctChangeLast6Mos,PctChangeYOY
0,76575,43206,Columbus,OH,Columbus,Franklin County,3906,0.090909,0.384615
1,76497,43064,Plain City,OH,Columbus,Union County,7238,0.207792,0.377778
2,76482,43040,Marysville,OH,Columbus,Union County,2886,0.201493,0.364407
3,88335,69129,Chappell,NE,NaN,Deuel County,14651,0.125000,0.358491
4,88262,68939,Franklin,NE,NaN,Franklin County,14787,0.136364,0.351351

In [7]:
#merge census data 2016 -- 
mergedCensusPctGrowth=pd.merge(redata2016,pctgrowth,left_on="Zipcode", right_on="zipcode")

In [8]:
#mergedCensusPctGrowth.to_csv("mergedCensusPctGrowth.csv")

In [9]:
mergedCensusPctGrowth.head()

,Unnamed: 0,Zipcode,Year,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Zip,...,Average,RegionID,zipcode,City_y,State_y,Metro,CountyName_y,SizeRank,PctChangeLast6Mos,PctChangeYOY
0,59604,6010,2016,60437,41.2,61551,32374,6144,10.165958,6010.0,...,125.916667,60081,6010,Bristol,CT,Hartford-West Hartford-East Hartford,Hartford County,126,0.007576,0.000000
1,59605,6018,2016,2689,42.4,73409,31935,124,4.611380,6018.0,...,107.916667,60085,6018,Canaan,CT,Torrington,Litchfield County,12168,-0.150376,-0.130769
2,59606,6026,2016,5194,44.5,89449,40122,109,2.098575,6026.0,...,141.750000,60093,6026,East Granby,CT,Hartford-West Hartford-East Hartford,Hartford County,10767,0.027397,0.006711
3,59607,6027,2016,1456,50.9,81563,37919,81,5.563187,6027.0,...,129.666667,60094,6027,Hartland,CT,Hartford-West Hartford-East Hartford,Hartford County,14735,0.000000,-0.014085
4,59608,6033,2016,28659,44.9,102339,55326,1050,3.663771,6033.0,...,159.166667,60100,6033,Glastonbury,CT,Hartford-West Hartford-East Hartford,Hartford County,3221,-0.006024,-0.006024

In [10]:
mergedCensusPctGrowth_GA2=mergedCensusPctGrowth.loc[mergedCensusPctGrowth["State_y"]=="GA"]

In [12]:
mergedCensusPctGrowth_GA2.City_y=mergedCensusPctGrowth_GA2.City_y.str.replace(" ","_")#strip()#replace(" ", "")

/Users/serenaleung/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [13]:
mergedCensusPctGrowth_GA2.CountyName_y=mergedCensusPctGrowth_GA2.CountyName_y.str.replace(" ","_")#strip()

In [14]:
mergedCensusPctGrowth_GA2.head(20)

,Unnamed: 0,Zipcode,Year,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Zip,...,Average,RegionID,zipcode,City_y,State_y,Metro,CountyName_y,SizeRank,PctChangeLast6Mos,PctChangeYOY
5716,65320,30002,2016,5866,40.5,48403,38995,1243,21.189908,30002.0,...,147.333333,70789,30002,Avondale_Estates,GA,Atlanta-Sandy Springs-Roswell,Dekalb_County,9395,0.000000,0.055556
5717,65321,30004,2016,61418,37.8,100666,50151,3705,6.032433,30004.0,...,141.166667,70791,30004,Milton,GA,Atlanta-Sandy Springs-Roswell,Fulton_County,291,-0.012121,0.012422
5718,65322,30005,2016,40526,36.3,119411,47467,1807,4.458866,30005.0,...,132.000000,70792,30005,Alpharetta,GA,Atlanta-Sandy Springs-Roswell,Fulton_County,2779,0.000000,0.020000
5719,65323,30008,2016,33900,31.1,44509,21566,7888,23.268437,30008.0,...,82.666667,70795,30008,Marietta,GA,Atlanta-Sandy Springs-Roswell,Cobb_County,3732,0.018349,0.099010
5720,65324,30009,2016,14934,38.7,75725,42516,1402,9.387974,30009.0,...,135.333333,70796,30009,Alpharetta,GA,Atlanta-Sandy Springs-Roswell,Fulton_County,5543,-0.011905,0.012195
5721,65325,30011,2016,15631,34.3,59442,21602,2206,14.112981,30011.0,...,82.416667,70798,30011,Auburn,GA,Atlanta-Sandy Springs-Roswell,Barrow_County,6883,0.028571,0.080000
5722,65326,30012,2016,26807,34.3,37450,18082,6959,25.959637,30012.0,...,53.000000,70799,30012,Conyers,GA,Atlanta-Sandy Springs-Roswell,Rockdale_County,3901,0.012658,0.081081
5723,65327,30013,2016,26487,37.1,50688,24124,4351,16.426926,30013.0,...,64.666667,70800,30013,Conyers,GA,Atlanta-Sandy Springs-Roswell,Rockdale_County,3547,0.011628,0.074074
5724,65328,30014,2016,37656,36.0,44765,22528,7477,19.856065,30014.0,...,70.583333,70801,30014,Covington,GA,Atlanta-Sandy Springs-Roswell,Newton_County,2364,0.021277,0.129412
5725,65329,30016,2016,52584,34.6,55089,21256,7732,14.704092,30016.0,...,66.500000,70803,30016,Covington,GA,Atlanta-Sandy Springs-Roswell,Newton_County,820,0.045455,0.150000
5726,65330,30017,2016,22891,40.6,82696,31760,1635,7.142545,30017.0,...,83.583333,70804,30017,Grayson,GA,Atlanta-Sandy Springs-Roswell,Gwinnett_County,5418,0.000000,0.051546
5727,65331,30019,2016,47792,35.6,87881,29184,4502,9.419987,30019.0,...,86.500000,70806,30019,Dacula,GA,Atlanta-Sandy Springs-Roswell,Gwinnett_County,1736,0.009524,0.049505
5728,65332,30021,2016,23780,29.1,32000,14300,9357,39.348192,30021.0,...,70.750000,70807,30021,Clarkston,GA,Atlanta-Sandy Springs-Roswell,Dekalb_County,4942,0.021505,0.091954
5729,65333,30022,2016,67903,38.5,98762,45937,3097,4.560918,30022.0,...,132.916667,70808,30022,Johns_Creek,GA,Atlanta-Sandy Springs-Roswell,Fulton_County,279,-0.012658,0.012987
5730,65334,30024,2016,73917,37.1,102181,39144,4197,5.677990,30024.0,...,108.666667,70810,30024,Suwanee,GA,Atlanta-Sandy Springs-Roswell,Gwinnett_County,75,0.000000,0.032000
5731,65335,30025,2016,9777,39.8,63480,27399,875,8.949576,30025.0,...,83.916667,70811,30025,Social_Circle,GA,Atlanta-Sandy Springs-Roswell,Walton_County,8681,0.028571,0.090909
5732,65336,30028,2016,24113,36.7,74303,29119,2368,9.820429,30028.0,...,110.500000,70813,30028,Cumming,GA,Atlanta-Sandy Springs-Roswell,Forsyth_County,4107,-0.007143,0.053030
5733,65337,30030,2016,27549,36.5,70666,43000,3978,14.439726,30030.0,...,253.583333,70815,30030,Decatur,GA,Atlanta-Sandy Springs-Roswell,Dekalb_County,2642,-0.017065,0.003484
5734,65338,30032,2016,48724,37.0,35117,18518,13274,27.243248,30032.0,...,57.500000,70817,30032,Candler-Mcafee,GA,Atlanta-Sandy Springs-Roswell,Dekalb_County,875,0.017094,0.190000
5735,65339,30033,2016,31511,36.8,64480,37990,5853,18.574466,30033.0,...,171.666667,70818,30033,Decatur,GA,Atlanta-Sandy Springs-Roswell,Dekalb_County,2161,-0.018868,0.019608

In [15]:
# Attempt number3: remove "Household Income", "Poverty Count", since this duplicates info from per capita inc and poverty rate
X = mergedCensusPctGrowth_GA2[["Population", "Median Age",  "Per Capita Income",  "Poverty Rate","CountyName_y", "State_y"]] #, "City_y"
y = mergedCensusPctGrowth_GA2["PctChangeYOY"].values.reshape(-1, 1) 
print(X.shape, y.shape)

(403, 6) (403, 1)

In [16]:
X.describe()

         Population  Median Age  Per Capita Income  Poverty Rate
count    403.000000  403.000000         403.000000    403.000000
mean   20389.042184   38.679156       26375.210918     16.859158
std    17701.993973    5.614588       10563.791520      8.244682
min      300.000000   21.200000       13685.000000      2.542113
25%     5818.500000   35.350000       20321.500000     10.454813
50%    15394.000000   38.000000       23378.000000     16.003074
75%    31582.500000   41.150000       28690.000000     21.612110
max    87791.000000   64.200000      101990.000000     71.000000

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403 entries, 5716 to 6920
Data columns (total 6 columns):
Population           403 non-null int64
Median Age           403 non-null float64
Per Capita Income    403 non-null int64
Poverty Rate         403 non-null float64
CountyName_y         403 non-null object
State_y              403 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 22.0+ KB

In [18]:
# make a copy of the data
data = X.copy()

In [19]:
# check counts
data.count()

Population           403
Median Age           403
Per Capita Income    403
Poverty Rate         403
CountyName_y         403
State_y              403
dtype: int64

In [20]:
# check for nulls
data.isna().count()

Population           403
Median Age           403
Per Capita Income    403
Poverty Rate         403
CountyName_y         403
State_y              403
dtype: int64

In [21]:
data.head()

,Population,Median Age,Per Capita Income,Poverty Rate,CountyName_y,State_y
5716,5866,40.5,38995,21.189908,Dekalb_County,GA
5717,61418,37.8,50151,6.032433,Fulton_County,GA
5718,40526,36.3,47467,4.458866,Fulton_County,GA
5719,33900,31.1,21566,23.268437,Cobb_County,GA
5720,14934,38.7,42516,9.387974,Fulton_County,GA

In [22]:
# take care of missing
data["Population"]=data["Population"].fillna(data["Population"].mean())
data["Median Age"]=data["Median Age"].fillna(data["Median Age"].mean())
data["Per Capita Income"]=data["Per Capita Income"].fillna(data["Per Capita Income"].mean())
data["CountyName_y"]=data["CountyName_y"].fillna("None")
data["State_y"]=data["State_y"].fillna("None")

In [23]:
# encode binary variables 
data_binary_encoded = pd.get_dummies(data)
data_binary_encoded.head()

,Population,Median Age,Per Capita Income,Poverty Rate,CountyName_y_Baldwin_County,CountyName_y_Banks_County,CountyName_y_Barrow_County,CountyName_y_Bartow_County,CountyName_y_Berrien_County,CountyName_y_Bibb_County,...,CountyName_y_Troup_County,CountyName_y_Union_County,CountyName_y_Upson_County,CountyName_y_Walker_County,CountyName_y_Walton_County,CountyName_y_Ware_County,CountyName_y_Wayne_County,CountyName_y_White_County,CountyName_y_Whitfield_County,State_y_GA
5716,5866,40.5,38995,21.189908,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5717,61418,37.8,50151,6.032433,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5718,40526,36.3,47467,4.458866,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5719,33900,31.1,21566,23.268437,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5720,14934,38.7,42516,9.387974,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [24]:
data_binary_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403 entries, 5716 to 6920
Data columns (total 100 columns):
Population                        403 non-null int64
Median Age                        403 non-null float64
Per Capita Income                 403 non-null int64
Poverty Rate                      403 non-null float64
CountyName_y_Baldwin_County       403 non-null uint8
CountyName_y_Banks_County         403 non-null uint8
CountyName_y_Barrow_County        403 non-null uint8
CountyName_y_Bartow_County        403 non-null uint8
CountyName_y_Berrien_County       403 non-null uint8
CountyName_y_Bibb_County          403 non-null uint8
CountyName_y_Brooks_County        403 non-null uint8
CountyName_y_Bryan_County         403 non-null uint8
CountyName_y_Bulloch_County       403 non-null uint8
CountyName_y_Burke_County         403 non-null uint8
CountyName_y_Butts_County         403 non-null uint8
CountyName_y_Camden_County        403 non-null uint8
CountyName_y_Carroll_County       403 non-null uint8
CountyName_y_Catoosa_County       403 non-null uint8
CountyName_y_Chatham_County       403 non-null uint8
CountyName_y_Chattooga_County     403 non-null uint8
CountyName_y_Cherokee_County      403 non-null uint8
CountyName_y_Clarke_County        403 non-null uint8
CountyName_y_Clayton_County       403 non-null uint8
CountyName_y_Cobb_County          403 non-null uint8
CountyName_y_Coffee_County        403 non-null uint8
CountyName_y_Colquitt_County      403 non-null uint8
CountyName_y_Columbia_County      403 non-null uint8
CountyName_y_Coweta_County        403 non-null uint8
CountyName_y_Dade_County          403 non-null uint8
CountyName_y_Dawson_County        403 non-null uint8
CountyName_y_Decatur_County       403 non-null uint8
CountyName_y_Dekalb_County        403 non-null uint8
CountyName_y_Dougherty_County     403 non-null uint8
CountyName_y_Douglas_County       403 non-null uint8
CountyName_y_Effingham_County     403 non-null uint8
CountyName_y_Elbert_County        403 non-null uint8
CountyName_y_Fannin_County        403 non-null uint8
CountyName_y_Fayette_County       403 non-null uint8
CountyName_y_Floyd_County         403 non-null uint8
CountyName_y_Forsyth_County       403 non-null uint8
CountyName_y_Franklin_County      403 non-null uint8
CountyName_y_Fulton_County        403 non-null uint8
CountyName_y_Gilmer_County        403 non-null uint8
CountyName_y_Glynn_County         403 non-null uint8
CountyName_y_Gordon_County        403 non-null uint8
CountyName_y_Greene_County        403 non-null uint8
CountyName_y_Gwinnett_County      403 non-null uint8
CountyName_y_Habersham_County     403 non-null uint8
CountyName_y_Hall_County          403 non-null uint8
CountyName_y_Haralson_County      403 non-null uint8
CountyName_y_Harris_County        403 non-null uint8
CountyName_y_Hart_County          403 non-null uint8
CountyName_y_Henry_County         403 non-null uint8
CountyName_y_Houston_County       403 non-null uint8
CountyName_y_Jackson_County       403 non-null uint8
CountyName_y_Jasper_County        403 non-null uint8
CountyName_y_Jones_County         403 non-null uint8
CountyName_y_Lamar_County         403 non-null uint8
CountyName_y_Laurens_County       403 non-null uint8
CountyName_y_Lee_County           403 non-null uint8
CountyName_y_Liberty_County       403 non-null uint8
CountyName_y_Long_County          403 non-null uint8
CountyName_y_Lowndes_County       403 non-null uint8
CountyName_y_Lumpkin_County       403 non-null uint8
CountyName_y_Madison_County       403 non-null uint8
CountyName_y_McDuffie_County      403 non-null uint8
CountyName_y_Meriwether_County    403 non-null uint8
CountyName_y_Monroe_County        403 non-null uint8
CountyName_y_Morgan_County        403 non-null uint8
CountyName_y_Murray_County        403 non-null uint8
CountyName_y_Muscogee_County      403 non-null uint8
CountyName_y_Newton_County        403 non-null uint8
CountyName_y_Oconee_County        403 non-null uint8
CountyName_y_Oglethorpe_County    403 non-null uint8
CountyName_y_Peach_County         403 non-null uint8
CountyName_y_Pickens_County       403 non-null uint8
CountyName_y_Pierce_County        403 non-null uint8
CountyName_y_Pike_County          403 non-null uint8
CountyName_y_Polk_County          403 non-null uint8
CountyName_y_Putnam_County        403 non-null uint8
CountyName_y_Rabun_County         403 non-null uint8
CountyName_y_Rockdale_County      403 non-null uint8
CountyName_y_Spalding_County      403 non-null uint8
CountyName_y_Stephens_County      403 non-null uint8
CountyName_y_Sumter_County        403 non-null uint8
CountyName_y_Tattnall_County      403 non-null uint8
CountyName_y_Thomas_County        403 non-null uint8
CountyName_y_Tift_County          403 non-null uint8
CountyName_y_Toombs_County        403 non-null uint8
CountyName_y_Towns_County         403 non-null uint8
CountyName_y_Troup_County         403 non-null uint8
CountyName_y_Union_County         403 non-null uint8
CountyName_y_Upson_County         403 non-null uint8
CountyName_y_Walker_County        403 non-null uint8
CountyName_y_Walton_County        403 non-null uint8
CountyName_y_Ware_County          403 non-null uint8
CountyName_y_Wayne_County         403 non-null uint8
CountyName_y_White_County         403 non-null uint8
CountyName_y_Whitfield_County     403 non-null uint8
State_y_GA                        403 non-null uint8
dtypes: float64(2), int64(2), uint8(96)
memory usage: 53.5 KB

In [25]:
data_binary_encoded.columns

Index(['Population', 'Median Age', 'Per Capita Income', 'Poverty Rate',
       'CountyName_y_Baldwin_County', 'CountyName_y_Banks_County',
       'CountyName_y_Barrow_County', 'CountyName_y_Bartow_County',
       'CountyName_y_Berrien_County', 'CountyName_y_Bibb_County',
       'CountyName_y_Brooks_County', 'CountyName_y_Bryan_County',
       'CountyName_y_Bulloch_County', 'CountyName_y_Burke_County',
       'CountyName_y_Butts_County', 'CountyName_y_Camden_County',
       'CountyName_y_Carroll_County', 'CountyName_y_Catoosa_County',
       'CountyName_y_Chatham_County', 'CountyName_y_Chattooga_County',
       'CountyName_y_Cherokee_County', 'CountyName_y_Clarke_County',
       'CountyName_y_Clayton_County', 'CountyName_y_Cobb_County',
       'CountyName_y_Coffee_County', 'CountyName_y_Colquitt_County',
       'CountyName_y_Columbia_County', 'CountyName_y_Coweta_County',
       'CountyName_y_Dade_County', 'CountyName_y_Dawson_County',
       'CountyName_y_Decatur_County', 'CountyName_y_Dekalb_County',
       'CountyName_y_Dougherty_County', 'CountyName_y_Douglas_County',
       'CountyName_y_Effingham_County', 'CountyName_y_Elbert_County',
       'CountyName_y_Fannin_County', 'CountyName_y_Fayette_County',
       'CountyName_y_Floyd_County', 'CountyName_y_Forsyth_County',
       'CountyName_y_Franklin_County', 'CountyName_y_Fulton_County',
       'CountyName_y_Gilmer_County', 'CountyName_y_Glynn_County',
       'CountyName_y_Gordon_County', 'CountyName_y_Greene_County',
       'CountyName_y_Gwinnett_County', 'CountyName_y_Habersham_County',
       'CountyName_y_Hall_County', 'CountyName_y_Haralson_County',
       'CountyName_y_Harris_County', 'CountyName_y_Hart_County',
       'CountyName_y_Henry_County', 'CountyName_y_Houston_County',
       'CountyName_y_Jackson_County', 'CountyName_y_Jasper_County',
       'CountyName_y_Jones_County', 'CountyName_y_Lamar_County',
       'CountyName_y_Laurens_County', 'CountyName_y_Lee_County',
       'CountyName_y_Liberty_County', 'CountyName_y_Long_County',
       'CountyName_y_Lowndes_County', 'CountyName_y_Lumpkin_County',
       'CountyName_y_Madison_County', 'CountyName_y_McDuffie_County',
       'CountyName_y_Meriwether_County', 'CountyName_y_Monroe_County',
       'CountyName_y_Morgan_County', 'CountyName_y_Murray_County',
       'CountyName_y_Muscogee_County', 'CountyName_y_Newton_County',
       'CountyName_y_Oconee_County', 'CountyName_y_Oglethorpe_County',
       'CountyName_y_Peach_County', 'CountyName_y_Pickens_County',
       'CountyName_y_Pierce_County', 'CountyName_y_Pike_County',
       'CountyName_y_Polk_County', 'CountyName_y_Putnam_County',
       'CountyName_y_Rabun_County', 'CountyName_y_Rockdale_County',
       'CountyName_y_Spalding_County', 'CountyName_y_Stephens_County',
       'CountyName_y_Sumter_County', 'CountyName_y_Tattnall_County',
       'CountyName_y_Thomas_County', 'CountyName_y_Tift_County',
       'CountyName_y_Toombs_County', 'CountyName_y_Towns_County',
       'CountyName_y_Troup_County', 'CountyName_y_Union_County',
       'CountyName_y_Upson_County', 'CountyName_y_Walker_County',
       'CountyName_y_Walton_County', 'CountyName_y_Ware_County',
       'CountyName_y_Wayne_County', 'CountyName_y_White_County',
       'CountyName_y_Whitfield_County', 'State_y_GA'],
      dtype='object')

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(data_binary_encoded, y, random_state=42)

In [28]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [29]:
model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
predicted = model.predict(X_test)

In [31]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

In [32]:
#model.score(X, y)

training_score=model.score(X_train, y_train)

testing_score=model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.726697779807047
Testing Score: 0.3720024466565973